.version.index /* version checker */
{
	color: #000003;
	background-color: #CB0FFC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 911px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#u184
{
	z-index: 2;
	width: 1160px;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#u326
{
	z-index: 4;
	width: 1154px;
	border-width: 3px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -36px;
	left: -100px;
}

#tab-panelu144
{
	z-index: 5;
	width: 987px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 259px;
	left: 97px;
}

#u158
{
	z-index: 6;
	width: 987px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u159
{
	z-index: 7;
	width: 197px;
	min-height: 28px;
	border-style: solid;
	border-color: #000000;
	background-color: #E0E0E0;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u159:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 197px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u161
{
	z-index: 9;
	height: 28px;
	width: 197px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: url("../images/u161.png") no-repeat 0px 0px;
}

#u159.TabbedPanelsTabSelected #u161
{
	background: url("../images/u161-a.png") no-repeat 0px 0px;
}

#u167
{
	z-index: 11;
	width: 197px;
	min-height: 28px;
	border-style: solid;
	border-color: #000000;
	background-color: #E0E0E0;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	left: 197px;
	border-width: 1px 0px 1px 1px;
}

#u167:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 197px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u169
{
	z-index: 13;
	height: 28px;
	width: 197px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: url("../images/u169.png") no-repeat 0px 0px;
}

#u167.TabbedPanelsTabSelected #u169
{
	background: url("../images/u169-a.png") no-repeat 0px 0px;
}

#u163
{
	z-index: 15;
	width: 196px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E0E0E0;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u163:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 196px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u166
{
	z-index: 17;
	height: 28px;
	width: 196px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: url("../images/u166.png") no-repeat 0px 0px;
}

#u163.TabbedPanelsTabSelected #u166
{
	background: url("../images/u166-a.png") no-repeat 0px 0px;
}

#u218
{
	z-index: 19;
	width: 196px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E0E0E0;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	left: 591px;
}

#u218:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 196px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u159.TabbedPanelsTabSelected,#u167.TabbedPanelsTabSelected,#u163.TabbedPanelsTabSelected,#u218.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 194px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
	border-width: 2px 2px 0px;
}

#u220
{
	z-index: 21;
	height: 28px;
	width: 196px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 11px;
	background: url("../images/u220.png") no-repeat 0px 0px;
}

#u218.TabbedPanelsTabSelected #u220
{
	background: url("../images/u220-a.png") no-repeat 0px 0px;
}

#u327
{
	z-index: 23;
	width: 197px;
	min-height: 28px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #E0E0E0;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
	left: 788px;
}

#u327:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 197px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
}

#u327.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	width: 195px;
	min-height: 28px;
	margin: 0px -10000px 0px 0px;
	border-width: 2px 2px 0px;
}

#u329
{
	z-index: 25;
	height: 28px;
	width: 195px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 1px;
	background: url("../images/u329.png") no-repeat 0px 0px;
}

#u327.TabbedPanelsTabSelected #u329
{
	background: url("../images/u329-a.png") no-repeat 0px 0px;
}

#u145
{
	z-index: 27;
	width: 987px;
	background-color: transparent;
	position: relative;
}

#u154
{
	z-index: 28;
	width: 985px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 363px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u156
{
	z-index: 79;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#pu155-24
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 244px;
}

#u155-24
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u203-26
{
	z-index: 53;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u146
{
	z-index: 81;
	width: 985px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 180px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u148
{
	z-index: 116;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u147-34
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 171px;
}

#u150
{
	z-index: 118;
	width: 985px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 194px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u235-32
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 112px;
}

#u236
{
	z-index: 151;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u222
{
	z-index: 153;
	width: 985px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 272px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u254
{
	z-index: 154;
	width: 134px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u156_img,#u148_img,#u236_img,#u254_img
{
	padding-right: 1px;
}

#pu257-16
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 36px;
	margin-left: 201px;
}

#u257-16
{
	z-index: 156;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u264-9
{
	z-index: 172;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	left: 113px;
}

#u258-28
{
	z-index: 181;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 234px;
}

#u331
{
	z-index: 209;
	width: 985px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 350px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#pamphletu379
{
	z-index: 210;
	width: 0.01px;
	height: 267px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 105px;
}

#u393
{
	z-index: 211;
	width: 798px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u396
{
	position: absolute;
	width: 356px;
	height: 266px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background: #999999 url("../images/icon%202-u396-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u396:hover
{
	border-color: #6B6B6B;
	width: 356px;
	height: 266px;
	min-height: 0px;
	margin: 0px;
	background: #C8C8C8 url("../images/icon%202-u396-r-fr.png") no-repeat center center;
	background-color: rgba(153, 153, 153, 0.53);
	background-size: cover;
}

#u396:active
{
	border-color: #6B6B6B;
	width: 356px;
	height: 266px;
	min-height: 0px;
	margin: 0px;
	background: #999999 url("../images/icon%202-u396-fr.jpg") no-repeat center center;
	background-color: rgba(153, 153, 153, 1);
	background-size: cover;
}

#u400
{
	position: absolute;
	width: 356px;
	height: 266px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	left: 440px;
	background: #999999 url("../images/icon%201-u400-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u400:hover
{
	border-color: #6B6B6B;
	width: 356px;
	height: 266px;
	min-height: 0px;
	margin: 0px;
	background: #C8C8C8 url("../images/icon%201-u400-r-fr.png") no-repeat center center;
	background-color: rgba(153, 153, 153, 0.53);
	background-size: cover;
}

#u400:active
{
	border-color: #6B6B6B;
	width: 356px;
	height: 266px;
	min-height: 0px;
	margin: 0px;
	background: #C8C8C8 url("../images/icon%201-u400-r-fr.png") no-repeat center center;
	background-color: rgba(153, 153, 153, 0.53);
	background-size: cover;
}

#u386
{
	position: absolute;
	width: 1326px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding-bottom: 44px;
	top: -7px;
	left: 21px;
	-pie-background: rgba(0, 0, 0, 0.9);
}

#u386popup
{
	z-index: 214;
}

#u387
{
	z-index: 215;
	width: 1282px;
	height: 724px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u398
{
	z-index: 216;
	width: 1280px;
	min-height: 392px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u401
{
	z-index: 217;
	width: 1282px;
	height: 724px;
	border-style: none;
	border-color: transparent;
	background-color: #999999;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u404
{
	z-index: 218;
	width: 1280px;
	min-height: 724px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u382
{
	position: absolute;
	width: 23px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	top: -36px;
	left: 1344px;
}

#u383-4
{
	z-index: 220;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 1px;
}

#u406-4
{
	z-index: 224;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 128px;
}

#u408-4
{
	z-index: 228;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 569px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.TabbedPanelsTab /* pamphlet2 */
{
	cursor: pointer;
}

#u319
{
	z-index: 232;
	width: 1160px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 537px;
	left: -100px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

